DOC_RENDERER_RABBITMQ_HOST=localhost
DOC_RENDERER_RABBITMQ_PORT=5672
DOC_RENDERER_RABBITMQ_USER=guest
DOC_RENDERER_RABBITMQ_PASSWORD=guest

DOC_RENDERER_REDIS_HOST=localhost
DOC_RENDERER_REDIS_PORT=6379
DOC_RENDERER_REDIS_PASSWORD=redispass
DOC_RENDERER_REDIS_DB=0

DOC_RENDERER_DEFAULT_TIMEOUT=300

DOC_RENDERER_S3_URL=212.113.98.188
DOC_RENDERER_S3_PORT=9000
DOC_RENDERER_S3_BUCKET_NAME=geometry-dash
